.flex{
    display: flex;
    height: 50px;
}
.div1{
    background-color: lightpink;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}
.item1 {
    background-color: black;
    color: white;
  }
.div2{
    background-color: lightskyblue;
    width: 200px;
}