body{
    margin: 0;
    padding: 0;
}
p{
    font-family: Arial;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: purple;
    height: 50px;
    align-items: center;
}
.home{
    font-size: 15px;
    padding-left: 10px;
    color: white;
    font-weight: bold;
}
.download-button{
    background-color: purple;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-color: white;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    height: 30px;
    width: 87px;
    margin-right: 15px;
}
.search-bar{
    border: none;
    border-radius: 28px;
    font-size: 15px;
    width: 500px;
    height: 30px;
    padding-left: 20px;
}