div {
    text-align: center;
}
img {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.google-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-bottom: 20px;
}

.google-search-bar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 43px;
    width: 700px;
    font-size: 18px;
    border-width: 1px;
    border-radius: 40px;
    border: none;
    padding-left: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}

.google-button {
    background-color: rgb(245, 245, 245);
    border: none;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .search-button {
    margin-right: 10px;
  }